@tailwind base;
@tailwind components;
@tailwind utilities;

.video_page {
  @apply flex justify-center items-center 
   p-[1rem] md:p-[2.5rem] w-full bg-gray-200 min-h-screen;
}

.container {
  @apply sm:w-full md:w-[90%] lg:w-[85%] xl:w-[80%] flex 
  mx-auto justify-center items-center
  sm:h-[50vh] sm:max-h-[240px] 
  md:h-[45vh] md:max-h-[320px] 
  lg:h-[40vh] lg:max-h-[420px] 
  xl:h-[36vh] xl:max-h-[560px];
}

.dirs {
  @apply p-1;
}

.dirs_container {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2 p-1;
}

/* .dir_item {
  @apply bg-yellow-200;
} */

.dir_item > a {
  @apply w-full flex justify-start items-center 
  bg-blue-500 text-xl
   text-white py-1.5 px-4 rounded-md gap-2;
}

.go_back {
  @apply mr-4 bg-blue-400 text-white rounded-md py-1.5 px-4;
}
.go_home {
  @apply mr-auto bg-orange-500 text-white rounded-md py-1.5 px-4;
}
